[Desktop Entry]
Type=Application
Name=IskoLinux háttérkép
Exec=/usr/local/libexec/iskolinux-branding
OnlyShowIn=KDE;
NoDisplay=true
X-KDE-autostart-phase=2
