[Desktop Entry]
Type=Application
Name=Adatbázis-szerver leállítása
Comment=MariaDB és phpMyAdmin leállítása
Exec=/usr/local/bin/iskolinux-database stop
Icon=process-stop
Categories=Development;Database;Education;
