[Desktop Entry]
Type=Application
Name=IskoLinux súgó
Comment=Telepítés, érettségi programok, hibaelhárítás (a GitHubon, internet kell hozzá)
Exec=xdg-open https://github.com/laszlorepassy/iskolinux#readme
Icon=help-browser
Categories=Education;Documentation;
